.productDetails__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto Slab", serif;
}
.productDetails__container > div {
  display: flex;
  max-width: 95%;
  width: 900px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}
.productDetails__img {
  max-height: 85vh;
  max-width: 60%;
}
.productDetaile__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  row-gap: 20px;
}
.productDetails__cartBtn {
  background-color: #f3b900;
  width: max-content;
  padding: 5px 25px;
  color: white;
  cursor: pointer;
}
.productDetails__cartBtn:hover {
  background-color: #c49600;
  width: max-content;
  padding: 5px 25px;
}
@media only screen and (max-width: 1000px) {
    .productDetails__container > div {
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 60px;
      }
      .productDetails__img {
        margin-bottom: 40px;
      }
}
